<h1>マイチームページ</h1>
<div class="row">
  <div class="col-10">


  <table class="table table-striped table-bordered bg-light">
      <tbody>
          <tr>
              <th width="20%">チーム名</th>
              <td><%= @admin.team_name %></td>
          </tr>
          <tr>
              <th>活動場所</th>
              <td><%= @admin.address %></td>
          </tr>
          <tr>
              <th>ジャンル</th>
              <td><%= @admin.genre %></td>
          </tr>
          <tr>
              <th>メールアドレス</th>
              <td><%= @admin.email %></td>
          </tr>
      </tbody>
  </table>

  <%= link_to "マイチームの内容を変更する", edit_admins_admin_path(@admin), class: "btn btn-primary mb-4" %><br>
</div>

<%= month_calendar events: @reservations do |date, reservations| %>
  <%= date %>

  <% @reservations.each do |reservation| %>
    <div>
      <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
    </div>
  <% end %>
<% end %>
<%= link_to '体験予約日を設定', new_admins_reservation_path %>